@import '../scss/mixins.scss';

.book {
  text-align: center;

  h1 {
    padding-left: 0.5em;
    padding-right: 0.5em;
  }

  blockquote {
    position: relative;
    padding: 1em;
    margin: 0;
    margin-top: 3em;
    margin-bottom: 3em;

    &:after {
      position: absolute;
      top: -2em;
      bottom: -2em;
      left: 25%;
      content: "";
      width: 50%;
      border-bottom: 1px solid;
      border-top: 1px solid;
    }
  }

  section#extracts {
    position: relative;
    box-sizing: border-box;
    text-align: justify;
    padding: 0.8em;

    p {
      position: relative;
      box-sizing: border-box;
      font-family: $seriousFont;
      font-size: 1.3em;
      padding: 0.8em;
      margin: 0;

      &:first-letter {
        font-size: 3em;
      }
    }
  }

  section#author {
    figure {
      box-sizing: border-box;
      padding: 2em;

      figcaption {
        font-family: $seriousFont;
        font-size: 1.5em;
        font-weight: bold;
        text-transform: uppercase;
        padding-bottom: 1em;
      }
    }
  }

  section#recommended {
    margin-top: 2em;

    header {
      font-weight: bold;
      margin-bottom: 1em;
    }

    article {
      box-sizing: border-box;
      padding: 15px;
    }
  }
}
