@import '../scss/mixins.scss';

nav {
  z-index: 100;
  opacity: 0.9;

  margin-bottom: 1em;

  text-align: center;

  form {
    background-color: $background;
    width: 100%;
    margin-top: 1em;
    padding-top: 1em;
    padding-bottom: 1em;

    input, select {
      margin-left: 1em;
      color: $secondary;
    }

    label {
      font-weight: bold;
    }
  }
}

section.search {
  article {
    box-sizing: border-box;
    padding: 15px;
  }
}
