<nav>
  <form class="pure-form">
    <fieldset>
      <div class="pure-u-1 pure-u-lg-1-2 pure-u-xl-1-4">
        <label for="genre">I'd love some</label>
        <select ng-options="genre for genre in genres" ng-model="category.genre.category"></select>
      </div>
      <div class="pure-u-1 pure-u-lg-2 pure-u-xl-1-4">
        <label for="genre">About</label>
        <select ng-options="topic for topic in topics" ng-model="category.genre.name"></select>
      </div>
      <div class="pure-u-1 pure-u-lg-2 pure-u-xl-1-4">
        <label for="genre">Written by</label>
        <input type="text" ng-model="search.author.name" placeholder="Author..."/>
      </div>
      <div class="pure-u-1 pure-u-lg-2 pure-u-xl-1-4">
        <label for="genre">Titled</label>
        <input type="text" ng-model="search.name" placeholder="Title..."/>
      </div>
    </fieldset>
  </form>
  <dir-pagination-controls></dir-pagination-controls>
</nav>

<section class="search pure-g">
  <!-- Let us thank the magic of Angular custom filters and M. Bromley's dir-paginate
       that allow this sweet concise declarative code
  -->
  <article
    class="pure-u-1 pure-u-md-1-2 pure-u-lg-1-3 pure-u-xl-1-5"
    dir-paginate="book in books | filter:category:true | filter:search:false | itemsPerPage:10"
    ng-click="navigate(book.id)"
  >
    <book-card book="book"></book-card>
  </article>
</section>

<div id="bottom-pagination">
  <dir-pagination-controls></dir-pagination-controls>
</div>
