

/* PureCSS 'lg' Media Query (>1024px) */
@media screen and (min-width: 64em) {
  body {
    .book-card figcaption {
      font-size: 1.1em;
    }

    .book {
      /* We center the book's description */
      blockquote {
        margin-left: 50%;
        transform: translateX(-50%);
        width: 25%;
        margin-top: 5em;
        margin-bottom: 5em;
      }

      // And add the "page" effect between the text columns
      section#extracts {
        padding: 2em;

        p {
          padding: 1em;
        }

        &:before, &:after {
          position: absolute;
          width: 50%;
          height: 100%;
          content: "";
        }

        &:before {
          top: 0;
          left: 0;
          border-right: 1px solid;
          border-top-right-radius: 20px;
        }

        &:after {
          top: 0;
          left: 50%;
          border-left: 1px solid;
          border-top-left-radius: 20px;
        }
      }

      section#author {
        figure {
          border: 1px solid;
          border-radius: 10px;
        }
      }
    }
  }
}
