

/* PureCSS 'xl' Media Query (>1280px) */
@media screen and (min-width: 80em) {
  body {
    padding: 2em;

    // We stick the navigation bar to the top of the screen
    nav {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
    }

    // Now the bottom pagination is redundant as the top one will always be on-screen
    div#bottom-pagination {
      display: none;
    }

    section.search {
      padding-top: 5em;
    }
  }
}
