

/* PureCSS 'md' Media Query (>768px) */
@media screen and (min-width: 48em) {
  body {
    nav {
      input {
        width: auto !important;;
      }
    }

    ul.pagination {
      li {
        padding: 0.5em;
        margin: 0.5em;
      }
    }

    .book {
      section#recommended {
        header {
          font-size: 2em;
        }
      }

      section#author {
        figure {
          border: 1px solid;
          border-radius: 10px;
        }
      }
    }
  }
}
