
// color palette from http://www.colourlovers.com/palette/629637
$background: #83AF9B;
$primary: lighten(#F9CDAD, 15%);
$secondary: #0A0A01;
$highlight:  #FE4365;
$matte: #FC9D9A;

// Because who doesn't love a big fat justified paragraph in Garamond <3
$seriousFont: 'EB Garamond', serif;
