
// color palette from http://www.colourlovers.com/palette/3407751/Summer_Kitchen
$background: #83AF9B;
$primary: lighten(#F9CDAD, 15%);
$secondary: #C8C8A9;
$highlight:  #FE4365;
$matte: #FC9D9A;
// $background: #DFD8C6;
// $primary: #384B5A;
// $secondary: #8E9EB7;
// $highlight:  #AED3C2;
// $matte: #9E6345;

$seriousFont: 'EB Garamond', serif;
