@import '../../scss/mixins.scss';

.book-card {
  box-sizing: border-box;
  position: relative;
  padding: 0.9em;
  cursor: pointer;
  transition: border-radius 200ms linear;

  &:hover {
    border: 3px solid $secondary;
    border-radius: 10px;
  }

  // The figcaption aims at imitating those red promo bands they put on newly printed books
  figcaption {
    position: absolute;
    bottom: 1em;
    left: 0;
    padding-top: 1em;
    padding-bottom: 1em;
    width: 100%;
    text-align: center;
    font-family: $seriousFont;
    font-size: 1.5em;
    background-color: $highlight;
    opacity: 0.9;
  }

  // For the asides i opted for a "tiny post-it note" look
  &>aside {
    position: absolute;
    box-shadow: -3px 3px 5px 0px rgba(0,0,0,0.75);
    background-color: $matte;
    color: $secondary;
    line-height: 1.5em;
    padding-right: 1.5em;
    padding-left: 1.5em;
    right: -1em;

    &.genre {
      top: 2.5em;
    }

    &.topic {
      top: 5em;
    }

    &.likes {
      top: 7.5em;

      &:after {
        content: ' \2661'; //  ♡
      }
    }
  }
}
